<h1>A sample NodeJS view using handlebars</h1>

{{ email }}
<br>

<form action="/" method="post" accept-charset="utf-8">
  <input type="email" name="email" />
  <button class="button" type="submit">Submit</button>


</form>
