<h1>A sample NodeJS view using handlebars</h1>
{{ message }}

<br>

<form action="/message" method="post" accept-charset="utf-8">
  <input type="text" name="message" id="message" value="" />
  <button class="button" type="submit">Submit</button>


</form>
